/* estilos generales /*
    







/*MAIN*/
h2 {
    font-size: 30px;
    font-weight: 700;
}
h3 {
    font-style: italic;
}

.banner {
    background: wheat url("lemonpie\lemon-pie foto.jpg") no-repeat;
    background-color: wheat;
    background-image: url( "lemonpie\lemon-pie foto.jpg");
    background-repeat: no-repeat;
    background-position: -300% -40%;
    height: 400px;
}

/*FOOTER*/
footer{
    background-color:white;
    text-align: center
}