/* estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

p{
    font-weight: ;
}    
a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}

/** header***/


/*MAIN*/


.banner {
    background-image: url(/lemonpie/lemon-pie\ foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    

}

.banner h1, p {
    color: white;
    width: 50%;
    margin-left: auto;
    
}

.icono-lemon{
    background-color:red;
}
.h1 {
    font-weight: 900;
}

.h2 {
    font-size: 30px;
    font-weight: 700;
}
.h3 {
    font-style: italic;
    font-weight: 700;
}

/*FOOTER*/
.footer{
    background-color:rgb(17, 14, 14);
    text-align: center
}