/*estilos generales*/ 



ul {
    list-style-type: none;
    display: flex
}

a{
    text-decoration: none;
    color: #fff
}

img{
    max-width: 100%;
}


/*header*/
header {
    background-color: ;
}

nav ul li a {
    padding: 20px 10 px;
    display: inline-flex;
}

.bg-header {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-header


/*estilos section*/

/*estilos card*/
#card-section > div {
    width: 80%;
    margin: 0px;
    display: flex;
}

.card {
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20 px 10px;
    width: 300px;
}


footer {
    
}